<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shed | waiting room </title>
</head>
<body>
  <h1>Waiting room</h1>
  {{ if .IsAdmin }}
    <p>Game created! Here's the code you need to share with people:</p>
    <p>{{ .GameID }}</p>
    <button class="start-button">Start game!</button>
    {{ else }}
    <p>Joined! Waiting for the game to start...</p>
  {{ end }}

  <script>
    if (window.WebSocket) {
      const playerID = window.sessionStorage.getItem("shed_player_id");
      const gameID = window.sessionStorage.getItem("shed_game_id");

      const conn = new WebSocket(
        "ws://" + document.location.host
        + "/ws?game_id=" + gameID
        + "&player_id=" + playerID
      );

      conn.onopen = console.info

      conn.onerror = e => console.error("websocket error", e.error);

      conn.onmessage = e => console.info("Incoming", e.data)

      const adminStartButton = document.querySelector(".start-button")
      if (adminStartButton) {
        adminStartButton.addEventListener("click", () => {
          const data = {
            player_id: playerID,
            command: "Start"
          };
          conn.send(JSON.stringify(data));
        });
      }
    }
  </script>
</body>
</html>
