#node modules
node_modules/

#sass cache
public/css/.sass-cache/
.DS_Store
npm-debug.log
dist/
.vscode
shed*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
coverage.out
